.container {
    width: 100%;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
    box-sizing: border-box;
}

/* Form Section */

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 700px;
    width: 100%;
    align-items: center;
}

@media(max-width : 996px) {
    .container {
        max-width: 956px;
    }
}